@model IntrinsicsDocs.Intrinsic
@using IntrinsicsDocs
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>@Model.id</title>
	<link rel="stylesheet" type="text/css" href="intrinsics.css">
</head>
<body>
	<h1>@Raw( @Model.rawTitle() )</h1>
	<h2>Synopsis</h2>
	<pre>@Raw( @Model.synopsis() )</pre>
	<h2>Description</h2>
	<p>@Model.description</p>@if( Model.operation.notEmpty() )
	{
		<h2>Operation</h2>
		<pre>@Model.operation</pre>
	} @if( Model.hasPerformanceData() )
	{
		<h2>Performance</h2>
		@Raw( @Model.rawPerformance() )
	}
</body>
</html>